@page
@model OrganicStore2.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

@* <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>  *@

 <div class="products-container">
    <p class="extra-nav">
         <a asp-page="/Index">
          Home 
        </a> 
          / Products 
    </p>
    <form class="item searchbar-products">
        <select name="products-dropdown" id="products-dropdown">          
            <option value="All Categories">
                Home
            </option>
            <option value="All Categories">All Products</option>
            <option value="Produce">Produce</option>
            <option value="Dairy & Eggs">Dairy & Eggs</option>
            <option value="DBread, Rolls & Bakery">Bread, Rolls & Bakery</option> 
        </select>
        <input type="submit" value="Submit">
    </form>
    <div class="item main">
        <div class="category-card produce">
            <img src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com/PIE/products_landing/aisles/img-aisle-produce@2x._TTD_._SR350,350_.jpg" alt="">
            <p class="category-title">Produce</p>
        </div>
         <div class="category-card dairy">
            <img src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com/PIE/products_landing/aisles/img-aisle-dairy@2x._TTD_._SR350,350_.jpg" alt="">
            <p class="category-title">Dairy & Eggs</p>
        </div>
         <div class="category-card meat">
            <img src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com/PIE/products_landing/aisles/img-aisle-meat@2x._TTD_._SR350,350_.jpg" alt="">
            <p class="category-title">Meat</p>
        </div>
         <div class="category-card prepared">
            <img src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com/PIE/products_landing/aisles/img-aisle-prepfoods@2x._TTD_._SR350,350_.jpg" alt="">
            <p class="category-title">Prepared Foods</p>
        </div>   
            <div class="category-card pantry">
            <img src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com/PIE/products_landing/aisles/img-aisle-pantry@2x._TTD_._SR350,350_.jpg" alt="">
            <p class="category-title">Pantry Essentials</p>
        </div>
         <div class="category-card bread">
            <img src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com/PIE/products_landing/aisles/img-aisle-bakery@2x._TTD_._SR350,350_.jpg" alt="">
            <p class="category-title">Bread, Rolls & Bakery</p>
        </div> 
    </div>
</div> 










































@* 

 <h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>  *@
